@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,300;1,700&family=Scope+One&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

:root {
  --melchow_primary: #5e2750;
  --melchow_hover: #804972;
  --melchow_gold: #ffc22a;
}
* {
  font-family: "Scope One", sans-serif;
}

html,
body {
  background-color: var(--background_color);
  margin: 0;
  padding: 0;
}
.header {
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}

.navbar-landing {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-center-landing {
  width: 90vw;
  max-width: 1200px;
}
.nav-header-landing {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-logo-landing {
  color: var(--melchow_primary);
  justify-content: center;
  align-items: center;
  width: 180px;
  font-size: 30px;
  font-weight: bold;
}
.home-logo-landing:hover {
  transform: scale(1.1);
}

.nav-btn-landing {
  padding: 0.5rem 0.5rem;
  color: #2b2b2b;
  border-radius: 10%;
  background: #00000020;
}
.nav-links-landing {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: height 0.3s;
}
.show-links-landing {
  height: 18rem;
  /* transition: height 0.3s; */
}
.nav-link-landing {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #2b2b2b;
  letter-spacing: 1px;
  padding: 1rem 0;
  border-top: 1px solid #cbd3e1;
  transition: 0.3s ease-in-out all;
  border-bottom: 1px solid transparent;
}
.nav-header-landing img {
  width: 60px;
  height: 60px;
}
@media screen and (min-width: 730px) {
  .navbar-landing {
    height: 6rem;
  }
  .nav-center-landing {
    display: flex;
    align-items: center;
  }
  .nav-header-landing {
    padding: 0;
    height: auto;
  }

  .nav-btn-landing {
    display: none;
  }
  .nav-links-landing {
    height: auto;
    flex-direction: row;
    justify-content: end !important;
    align-items: center;
    width: 100%;
  }
  .nav-link-landing {
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    font-size: 1rem;
    color: #70747c;
    border-bottom: 1px solid transparent;
  }
}
.active-link-landing {
  color: var(--melchow_primary);
  font-weight: bold;
  border-bottom: none !important;
}
.nav-link-landing:hover {
  color: var(--melchow_hover);
  border-bottom: 1px solid #2b2b2b;
}
.footer-landing {
  display: flexbox;
  width: 100%;
  margin-top: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #2b2b2b;
  text-align: center;
}
.footer-text-landing {
  font-weight: 700;
  color: #888;
  text-decoration: none;
  margin-right: 4%;
}
.title-landing {
  color: var(--melchow_primary);
  margin-top: 30px;
  text-align: center;
  font-size: calc(50px + 1vw);
  font-family: "Raleway";
  /* font-family: "Scope One"; */
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: var(--melchow_primary);
  text-decoration-thickness: 3px;
  white-space: nowrap;
  text-underline-offset: 3px;
}

.description-landing {
  padding-left: 4%;
  padding-right: 4%;
  margin: auto;
  max-width: 800px;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-size: calc(20px + 0.5vw);
  color: #00000090;
  font-weight: 300;
}
.text-landing {
  padding-left: 4%;
  padding-right: 4%;
  margin: auto;
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: #00000090;
  font-weight: 300;
}

.subtitle-landing {
  margin: auto;
  max-width: 700px;
  text-align: center;
  font-size: calc(18px + 0.5vw);
  font-weight: 300;
}

.home-main-landing {
  text-align: center;
}

.divider-landing {
  margin: 50px auto 50px auto;
  height: 1px;
  background-color: #88888890;
  max-width: 700px;
}

.home-grid-container-landing {
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 700px;
  display: grid;
  text-align: center;
  grid-template-columns: 33% 33% 33%;
  font-weight: 600;
  font-size: calc(8px + 1vw);
}
.home-grid-item-landing {
  min-height: 200px;
  margin: 4%;
  background-color: #ffffff;
  box-shadow: 4px 4px 10px #888888;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.home-grid-item-landing:hover {
  transform: scale(1.05);
  border: 2px solid #fff;
}

@media (max-width: 730px) {
  .home-grid-container-landing {
    max-width: 330px;
    grid-template-columns: 100%;
  }

  .home-grid-item-landing {
    min-height: 280px;
    max-width: 300px;
  }
}

/*======================
    404 page
=======================*/
.error-page-landing {
  min-height: calc(100vh - (6rem));
  text-align: center;
}
